#myCanvas{
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 40%;
}

#ball{
    max-width: 1px;
    animation: animate 2s linear infinite;
}

#andereball{
    
}
#keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}