#myCanvas{
    height: 1280px;
    width: 720px;
  
}

#ball{
   /* max-width: 1px;*/
    animation: animate 2s linear infinite;
}

#andereball{
   
}
#keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.centered {
    
    height: 100%;
    width: 100%;
      
    text-align: center;
    vertical-align: middle;
    }